html.light {
    --base-bgc: #fff;
    --base-bgc1: #f0f0f2;
    --base-bgc2: #eee;
    --text-color: #3e3e3e;
    --text-color1: rgb(118, 124, 130);
    --text-color2: #18a058;
    --text-c3: #28313b;
    --thumb-color: #ddd;
    --track-color: #eee;
    --border-color: #e7e7e7;
    --hover-color: #cfcfcf;
    --menu-bgc: #b4b3bd;
    --menu-color: #2e2e2e;
    --mih-color: #aaa;
    --error-color: #f00;
    --selected-color: #c6d6f2;
}

html.dark {
    --base-bgc: #202020;
    --base-bgc1: #282828;
    --base-bgc2: #222;
    --text-color: #fff;
    --text-color1: rgba(255, 255, 255, 0.52);
    --text-color2: #63e2b7;
    --text-c3: #eaeaea;
    --thumb-color: #959595;
    --track-color: #333;
    --border-color: #3e3e3e;
    --hover-color: #3f3f3f;
    --menu-bgc: #4a4a4a;
    --menu-color: #999;
    --mih-color: #5f5f5f;
    --error-color: #f00;
    --selected-color: #273d59;
}